<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            News and Announcements
        </div>
        <div class="card-block">
            <h4 class="card-title">News title</h4>
            <h6 class="card-subtitle text-muted">August 5</h6>
        </div>
        <div class="card-block">
            <p class="card-text">Lorem ipsum</p>
            <a href="#" class="btn bg-color-complement-0 white">Read more...</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item news-item-past">
                <h5 class="card-title">News title</h5>
                <h6 class="card-subtitle text-muted">August 5</h6>
            </li>
            <li class="list-group-item news-item-past">
                <h5 class="card-title">News title</h5>
                <h6 class="card-subtitle text-muted">August 5</h6>
            </li>
            <li class="list-group-item news-item-past">
                <h5 class="card-title">News title</h5>
                <h6 class="card-subtitle text-muted">August 5</h6>
            </li>
        </ul>
    </div>
</div>
