<div class="tab-content">
    <div class="tab-pane active" id="overview" role="tabpanel">
        
    </div>
    <div class="tab-pane" id="add" role="tabpanel">
        <p>
            Welkom op de dashboard van deze CMS (Content Management System).
        </p>

        <div>
            <div class='wrapper2'>
                <div class='container2' [dragula]='"first-bag"'>
                    <div>Drag/drop item 1</div>
                </div>
                <div class='container2' [dragula]='"first-bag"'>
                    <div>Drag/drop item 2</div>
                </div>
            </div>
        </div>
    </div>
</div>