.bg-color-primary-0 {
    z-index: 1;
    background-color: #1483FF;
}

.bg-color-primary-0 h5, h5 {
    display: inline-block;
}

.bg-color-primary-0 h5 {
    color: white;
}

.bg-color-primary-0 p {
    color: #ABD3FF;
}
