<div class="row">
    <div class="col-sm-12">
        <p>
        Hier zie je een overzicht van alle pagina's binnen deze website. 
        Om de volgorde van de pagina's te veranderen hoef je alleen de linkermuisknop in te houden op de pagina in kwestie en kun je het vervolgens slepen om zo het gewenste resultaat te bereiken.
        </p>
        <div class="list-group">
            <div [dragula]='"menu-bag"'>
                <div *ngFor='let webPage of webPages; let i = index' id="{{ i }}">
                    <a href="#" class="list-group-item list-group-item-action" [class.bg-color-primary-0]="webPage.isHomePage">
                        <h5 class="list-group-item-heading">{{ webPage.title }}</h5>
                        <span class="tag tag-pill pull-xs-right tag-default">0 subpagina's</span>
                        <p class="list-group-item-text">Module iconen hier</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
