<div class="tab-content">
    <div class="tab-pane active" id="index" role="tabpanel">
        <div class="card-columns">
            <dashboard-news></dashboard-news>
            <dashboard-clock></dashboard-clock>
            <dashboard-generic [value]="'3'" [message]="'Geregistreerde gebruikers binnen het beheersinterface'"></dashboard-generic>
            <dashboard-generic [value]="'3'" [message]="'Geinstalleerde modules op deze website'"></dashboard-generic>
        </div>
    </div>
    <div class="tab-pane" id="info" role="tabpanel">
        <p>
            Welkom op de dashboard van deze CMS (Content Management System).
        </p>
    </div>
</div>

