<div class="tab-content">
    <div class="tab-pane active" id="page1" role="tabpanel">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    adasda
                </p>
            </div>
            <dashboard-news></dashboard-news>
            <dashboard-clock></dashboard-clock>
        </div>
    </div>
    <div class="tab-pane" id="page2" role="tabpanel">
        <p>
            Welkom op de dashboard van deze CMS (Content Management System).
        </p>
    </div>
</div>

